
:root{
  --general-color:#212121;
  --aсcent-color:#2196F3;
  --background-сolor: #2F303A ;
  --text-color:#757575;
  --litter-color-white:#ffffff;
  --heder-height:80px;

}
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
}
.btn{
  cursor: pointer;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;

}

ul,ol{
  margin: 0;
  padding-left:0;
}

.container{
  width: 1200px;  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body{
 
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--general-color);
  background-color: var(--litter-color-white);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list{
  list-style: none;
}

.link{
  color: var(--general-color);
  text-decoration: none;
}
.link:hover, 
.link:focus{
  color:var(--aсcent-color) ;
}

.top-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}


/* --------HEADER-------- */
.logo{
 text-decoration: none;
 font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--general-color);
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;

}

.header{
  height: var(--heder-height);
  border-bottom: 1px solid #ECECEC;
}




.header .container{
  display: flex;
  align-items: center;
}

.currentlink{
  color: var(--aсcent-color);
}


span{
  color:var(--aсcent-color) ;
}



.header-list{
  display: flex;
  align-items: center;
font-weight: 500;
color: var(--general-color);
line-height: 1.14;
letter-spacing: 0.02em;


}



.header-link{
  display: flex;
  margin-left: auto;
  align-items: center;
  
}
.header-top-link{
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-top-link:hover ,
.header-top-link:focus {
  color: var(--aсcent-color);
}
.header-soc-icon{
  
  fill:var(--text-color) ;
  margin-right: 10px;
}

.header-link-list{
  font-weight: 500;
  font-weight: normal;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-list:hover ,
.header-link-list:focus {
  color: var(--aсcent-color);
}
.header-link-list:hover .header-soc-icon,
.header-link-list:focus .header-soc-icon{
  fill: var(--aсcent-color);
}
.header-item:not(:last-child){
  margin-right:50px ;
}
.header-item{
  position:relative;
}
.link.currentlink::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color:var(--aсcent-color);
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}

 

/* ------business_idea------- */
.business_idea{
  background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:var(--background-сolor) ;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
  

.idea-title{
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--litter-color-white);
  width: 696px;
  margin: 0 auto;
  
 
}
.btn{
  background-color: var(--aсcent-color);
  font-family:inherit ;

font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--litter-color-white);
padding: 10px 35px;
margin: 30px auto 0;
border: 1px solid var(--aсcent-color);
border-radius: 4px;

}
/* -------PLAN------- */


.plan-item:not(:last-child){
  margin-right: 30px;
}
.plan-list{
  display: flex;
}


.plan-title{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}

.plan-text{
width: 270px;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: var(--text-color);
}




.plan-icon-list{
  display: flex;
  justify-content: center;
  align-items: center;
 
 
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.plan-icon-list:last-child{
  margin-right: 0;
}
/*---------PRISE-----------  */
.prise{
  padding-top: 0;
}

.prise-list{
  display: flex;
  justify-content: space-between;
}
.prise-item{
  position: relative;
}

img{
  display: block;
  min-width: 100%;
  height: auto;
}
.prise-text{
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
font-size: 14px;
line-height: 1.15;
text-align: center;
display:flex;
justify-content:center;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}

.prise-title{
  margin-bottom: 50px;
}
/* -----------OUR-TEAM------------ */
.our-team{

  background: #F5F4FA;
}
.team-title{
  margin-bottom: 50px;
}
.team-title-text{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--general-color);
margin-bottom: 10px;
}

.team-list{
display: flex;
padding-bottom: 47px;

}

.our-team-cards:not(:last-child){
  margin-right: 30px;
}

.our-team-cards{
 
justify-content: space-between;
 
width: 270px;


background: #FFFFFF;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

 .team-text{
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
 }
 
 .team-soc-item{
   width: 44px;
   height: 44px;
   margin-right: 10px;
 }
 .team-soc-item:last-child{
   margin-right: 0;
 }

 .teams-soc-link{
   width: 100%;
   height: 100%;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;
   transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .teams-soc-link:hover,
 .teams-soc-link:focus{
   background-color: var(--aсcent-color);
 }

 .teams-soc-link:hover .team-soc-icon,
 .teams-soc-link:focus .team-soc-icon{
   fill: var(--litter-color-white);
 }

 .team-soc-list{
   margin-top: 16px;
   display: flex;
   justify-content: center;
 }

 .team-soc-icon{
   fill: #AFB1B8;
 }

.team-list-text{
  padding: 30px 0;
  text-align: center;}


  /* CLIENTS */
.clients-list{
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.clients-item{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
border-radius: 4px;
margin-right: 30px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.clients-item:last-child{
  margin-right: 0;
}
.clients-item:hover,
.clients-item:focus{
border: 1px solid #2196F3 ;
}

.clients-item:hover .team-soc-icon,
.clients-item:focus .team-soc-icon{
  fill: var(--aсcent-color);
}




 /* --------FOOTER------ */
 .footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-сolor);
}
.footer-logo{
color: var(--litter-color-white);
padding-top:60px;

}
.footer-link:not(:last-child){
  margin-bottom: 9px;
}
.footer-link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus{
  color: var(--aсcent-color);
}

.footer-list{
  margin-top: 20px;
  
}

.footer-address{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-top-list{
  display: flex;
  align-items: baseline;
  
}

.address{
  font-style:normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--litter-color-white);
}
.footer-address-list{
  margin-right: 70px;
}

.footer-address{
  display: block;
  margin-top: 9px;
  font-style:normal;
}
.footer-soc-list{
  display: flex;
  margin-top: 20px;
}


.soc-title{
  font-weight: 700;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}
.footer-soc-icon{
  fill: var(--litter-color-white);
}
.footer-soc-link:hover,
.footer-soc-link:focus{
  background-color: var(--aсcent-color);
}


.footer-soc-item{
  width: 44px;
   height: 44px;
   margin-right: 10px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
}

.footer-soc-link{
  width: 100%;
   height: 100%;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
/* ---------MODAL--------- */
.backdrop{
  position:fixed;
  top: 0;
  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}
.modal{
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--litter-color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.modal-close-btn{
  position: absolute;
  top:8px;
  right:8px;
  width: 30px;
  background: #FFFFFF;
  height: 30px;
  
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor:pointer;
}
.modal-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  fill: var(--general-color);
}
.is-hidden{
 visibility: hidden;
 opacity: 0;
 pointer-events: none;

}






/* -------------PORTFOLIO--------------------- */

.portfolio-top-list{
  display: flex;
  justify-content: center;
  margin-bottom:50px;
}
.portfolio-item:not(:last-child){
  margin-right: 8px;
  
}
.portfolio-link{
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus
.potfolio-cards-item:hover,
.potfolio-cards-item:hover
{
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-btn.btn-all{
width: 73px;
height: 38px;
left: 495px;
top: 174px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  
  text-align: center;
  letter-spacing: 0.03em;
 
}
.portfolio-btn{
  cursor: pointer;
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color:var(--general-color);
background: #F5F4FA;
border-radius: 4px;
border: #F5F4FA ;
width: 145px;
height: 38px;
left: 712px;
top: 174px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-btn:hover{
  color: var(--litter-color-white);
  background-color: var(--aсcent-color);
}
.portfolio-btn:focus{
  color: var(--litter-color-white);
  background-color: var(--aсcent-color);
}
 .portfolio-link{
  text-decoration: none;
  color: var(--general-color);

}

.portfolio-title{

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--general-color)
}
.portfolio-top-text{
  display: block;
  padding: 20px 24px;
  border-right:1px solid #EEEEEE; 
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.portfolio-wrapper{
  position: relative;
  overflow: hidden;
}
.portfolio-secondary-text{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  top:0;
  left:0;
  transform: translateY(100%);

  font-weight: 400;
font-size: 18px;
line-height: 1.56;

letter-spacing: 0.03em;

color: #FFFFFF;
padding-top: 63px;
padding-left: 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.potfolio-cards-item:hover
.portfolio-secondary-text{
  transform: translateY(0);
}
.portfolio-text{
margin-top: 4px;
font-size: 16px;
line-height: 1.88;
color: var(--text-color);
}
.portfolio-list{
  display: flex;
 flex-wrap: wrap;
 margin-right: -30px;
  margin-top: -30px;
}
.potfolio-cards-item{
  margin-top: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 3);

}

